<ons-page class="center">
    <div ng-controller="Page1Ctrl">
    	<div ng-show="isLoading">
            <div class="bubblingG">
                <span id="page1_bubblingG_1"></span>
                <span id="page1_bubblingG_2"></span>
                <span id="page1_bubblingG_3"></span>
            </div>
        </div>
        <ons-list  ng-hide="isLoading">
            <ons-list-item ng-repeat="league in leagues" ng-click="next($index)">
            	<span style="vertical-align: middle">
            		{{league.name}}
            	</span>
        	</ons-list-item>
        </ons-list>
    </div>
</ons-page>
