<ons-page class="center">
    <div ng-controller="Page_MarchesCtrl">
        <ons-scroller>
            <div ng-show="isLoading" style="margin-top: 50%">
                <div class="bubblingG">
                    <span id="matches_bubblingG_1"></span>
                    <span id="matches_bubblingG_2"></span>
                    <span id="matches_bubblingG_3"></span>
                </div>
            </div>
             <ons-list ng-hide="isLoading">
                <ons-list-item ng-repeat="match in matchHistory.matches" ng-click="next($index)">
                    <div>
                        Match id: {{match.match_id}}
                    </div>
                </ons-list-item>
            </ons-list>
        </ons-scroller>
    </div>
</ons-page>
