<ons-page class="center">
    <div ng-controller="Page1Ctrl">
    	<ons-scroller>
    		<div ng-show="isLoading">
	            <div class="bubblingG">
	                <span id="page1_bubblingG_1"></span>
	                <span id="page1_bubblingG_2"></span>
	                <span id="page1_bubblingG_3"></span>
	            </div>
	        </div>
	        <ons-list  ng-hide="isLoading">
	        	<ons-list-item>
	        		<div style="display: table; width: 100%">
	        			<span style="display: table-cell; width: 100%; padding: 0px 5px;">
	        				<ons-text-input 
			        			ng-model="inputMatch.inputMatchId"
		            			placeholder="Enter match id"
		            			style="width: 100%; vertical-align: middle">
		            		</ons-text-input>
	        			</span>
	        			<ons-button style="display: table-cell; vertical-align: middle" ng-click="goToMatch()">
		            		Go
		        		</ons-button>
	        		</div>
	        	</ons-list-item>
	            <ons-list-item ng-repeat="league in leagues" ng-click="next($index)">
	            	<span style="vertical-align: middle">
	            		{{getLeagueName(league.name)}}
	            	</span>
	        	</ons-list-item>
	        </ons-list>
    	</ons-scroller>
    </div>
</ons-page>
